* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-color: #f3eee7;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: red;
    height: 100vh;
    background-image: url("bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile>img {
    width: 150px;
    height: 150px;
    border: 3px solid #222;
    border-radius: 100%;
}

.profile>p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color:#503402;
    text-transform: capitalize;
    text-align: center;
}
.profile>h1 {
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 5px;
    color:#503402;
    text-transform: capitalize;
    text-align: center;
    
}

.link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.link>a {
    text-decoration: none;
    color: #fff5f5;
    font-size: 24px;
    text-align: center;
    border:2px solid #c9a76a;
    background-color:#5b3d2e;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.link>a:hover {
    background-color: azure;
    color: #222;
}

.footer {
    text-align: center;
}

.footer>i {
    color: rgb(78, 52, 2);
    font-size: 24px;
}

